body{
    overflow-x: hidden !important;
}
.main{
    background: #303a52;
    height:100vh;
    

li{
    text-decoration: none;
    list-style-type: none;
    color:grey; 
    transform: translateX(-23px);
}
.active{
  color: white !important;
  font-weight: bold !important;
}
}
li{
    text-decoration: none;
    list-style-type: none;
}
.students-table{
   background: white;
   border-radius: 10px;
}
@keyframes expand {
    from {
        opacity:0;
        transform:translateY(-20px);
    }
    to { opacity:1;
        transform:translateY(0);}
  }
  @keyframes slideUp {
    from {
        opacity:0;
        transform:translateX(-80px);
    }
    to {
        opacity:1;
        transform:translateX(0);
    }
  }


 
  
 
  
  
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3;
  }
  
  .circle {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  .circle-bg-fail {
    fill: none;
    stroke: #eee;
    stroke-width: 3;
  }
  
  .circle-fail {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: green;
  }
  
  
  .circular-chart.orange .circle-fail {
    stroke: red;
  }
  
  
  
  .percentage {
    fill: white;
    font-size: 0.5em;
    text-anchor: middle;
  }
  
.main{
  a{
    text-decoration:none !important;
    border-bottom: none !important;

  }
  }
  .user:hover{
    .dropdown-content{
        display: block;
    }
  }

  .percentage-overall{
    fill: black;
    
    font-size: 0.3em !important;
    text-anchor: middle;
  }
 